# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# Docker files
*.log
*.pid

# VS Code settings
.vscode/

# macOS/Linux files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/
